@model DonationManager.Models.Charity

@{
    ViewBag.Title = "Create";
}

<h1>New Charity</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.OfficialName, "Official Name")
            @Html.EditorFor(model => model.OfficialName, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.OfficialName, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Type, "Category")
            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })*@
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.Details)
            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PreferredMethod, "Prefered Payment Method")
            @Html.EditorFor(model => model.PreferredMethod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PreferredMethod, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Notes)
        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })*@
    </div>

    <div class="form-group">
        @Html.ActionLink("Discard", "Index", null, htmlAttributes: new { @class = "btn btn-secondary" })
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
