@model DonationManager.Models.Charity

@{
    ViewBag.Title = "Details";
}
<div class="card shadow">
    <div class="card-header">
        <div class="btn-toolbar justify-content-between">
            <div>
                <h1 class="card-title">@Model.Name</h1>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDonationModal">
                New Donation
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        Official Name:
                    </dt>
                    <dd>
                        @Model.OfficialName
                    </dd>
                </dl>
            </div>
            @{
                if (Model.CharityNumber != null)
                {
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt>
                                Registered Charity Number:
                            </dt>
                            <dd>
                                @Model.CharityNumber
                            </dd>
                        </dl>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        Category:
                    </dt>
                    <dd>
                        @Model.Type
                    </dd>
                </dl>
            </div>
            @{
                if (Model.Details != null)
                {
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt>
                                Details:
                            </dt>
                            <dd>
                                @Model.Details
                            </dd>
                        </dl>
                    </div>
                }
            }
        </div>
        <dl class="dl-horizontal">
            @{
                if (Model.PreferredMethod != null)
                {
                    <dt>
                        Preferred Payment Method:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PreferredMethod)
                    </dd>
                }
                if (Model.Notes != null)
                {
                    <dt>
                        Notes:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>
                }
            }
        </dl>
    </div>
    <div class="card-footer">
        <div class="btn-toolbar justify-content-between">
            <a class="btn btn-outline-secondary" href="~/Charities/index"><i class="fas fa-angle-double-left"></i> All Charities</a>
            <a class="btn btn-outline-warning" href="@Url.Action("Edit","Charities",new { id = Model.ID })"><i class="fas fa-pencil-alt"></i> Edit</a>
        </div>
    </div>
</div>
<br />
@{
    Html.RenderAction("PartialIndex", "Donations", new { id = Model.ID });
}
<!-- Modal - newDonationModal -->
<div class="modal fade" id="newDonationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newDonationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newDonationModalLabel">New Donation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div class="container">
                    @{
                        Html.RenderAction("Create", "donations", new { isModal = true });
                    }
                </div>
            </div>
        </div>
    </div>
</div>
