@model IEnumerable<DonationManager.Models.Charity>
@{
    ViewBag.Title = "Index";
}
<div class="card shadow">
    <div class="card-header">
        <div class="btn-toolbar justify-content-between">
            <h1>Charities</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCharityModal">
                New Charity
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr onclick="detailsPage(@item.ID)" style="cursor: pointer">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <button type="button" onclick="detailsPageLinkEnabled = false" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#newDonationModal" data-id="@item.ID">
                            New Donation
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal - newCharityModal -->
<div class="modal fade" id="newCharityModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newCharityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCharityModalLabel">New Charity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div class="container">
                    @{Html.RenderPartial("Create", new DonationManager.Models.Charity(), new ViewDataDictionary { { "isModal", true } });}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - newDonationModal -->
<div class="modal fade" id="newDonationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newDonationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newDonationModalLabel">New Donation</h5>
                <button type="button" class="close" onclick="detailsPageLinkEnabled = true" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div class="container">
                    @{
                        Html.RenderAction("Create", "donations", new { isModal = true });
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var detailsPageLinkEnabled = true;
    function detailsPage(itemID) {
        if (detailsPageLinkEnabled) {
            window.location.assign("/charities/details/" + itemID);
        }
    }
    $(document).ready(function () {
        $('#newDonationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            var id = button.data('id') 
            var modal = $(this)
            modal.find('#selectCharity').val(id)
        })
    });
</script>