@model IEnumerable<DonationManager.Models.Charity>

@{
    ViewBag.Title = "Index";
}

<h1>Charities</h1>

<p>
    @Html.ActionLink("Create New", "Create", new { } ,new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @*@Html.ActionLink("Donations", "Index", "Donations", new { id = item.ID /* TODO - insert this charity ID and add controler method */ }, new { @class = "btn btn-default" })*@

            @*@Html.ActionLink("Details", "Details", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-outline-secondary" })*@
            @Html.ActionLink("New Donation", "Create", "Donations", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-outline-primary btn-sm" })
        </td>
    </tr>
}

</table>
