@model IEnumerable<DonationManager.Models.Donation>
<div class="card shadow">
    <div class="card-header"><h2>Recent Donations</h2></div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Method)
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                      @item.Date.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Method)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>