@model DonationManager.Models.Charity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Charity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
